.box_Apple,
.box_Facebook,
.box_Google{
      border-radius: 10px;
  padding: 14px 38px;
}



.box_Google,
.box_Facebook {
  background: #f6f6f6;
  border: 1px solid #dddfdd;

}
.box_Apple{
  background-color: white;  
  box-shadow: 0px 10px 13px 0px #00000021;
}
