.w--signature {
  width: auto!important;
  height: 90px!important;
  margin-inline: 8px!important;
  border: none!important;
  background: none!important;
  cursor: pointer;
  outline: none!important;
  box-shadow: none!important;
  overflow: hidden!important;
}
