.sidebar_icon {
  width: 24px;
  height: 24px;
}
.items .item_sidebar {
  border-radius: 30px 0 0 30px;
  position: relative;
  background-color: var(--light);
  color: var(--gray-dark);
  box-shadow: -6px 3px 15px 0px #0000001A;
  overflow: hidden;
  transition: all 0.3s ease;
  
  span {
    color: var(--purple);
    fill: var(--purple);
  }
  &_close{
  border-radius: 50%;
  width: 50px ;
  height: 50px;
  text-align: center;
  margin: auto;
  padding-inline: 12px;


  }
}
.Notifications{
background: #FFDD9554;
}