.StatusHeader {
  position: relative;

  .BtnGroup {
    position: relative;
  }

}
.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.label-text {
  margin-left: 16px; 
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 25px;
  width: 50px;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--light);
  box-shadow: -8px -4px 8px 0px var(--light);
}

.toggle-state {
  display: none;
}

.toggle-state:checked + .toggle {
  background-color: var(--purple);
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0); 
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}


.toggle-state:checked + .toggle .indicator {
  transform: translate3d(25%, 0, 0); 
}

body[dir="rtl"] .indicator {
  transform: translate3d(75%, 0, 0); 
}

body[dir="rtl"] .toggle-state:checked + .toggle .indicator {
  transform: translate3d(-25%, 0, 0);
}
