.alert_profile {
  background: #86e3ce80;
}

.icon_profile {
  color: #078468;
  background: #86e3ce80;
}



// performance evaluation
// .visa-card {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: flex-end;
//   width: 500px;
//   height: 180px;
//   background-image: var(--linear1);
//   border-radius: 15px;
//   padding: 30px;
//   font-family: Arial, Helvetica, sans-serif;
//   position: relative;
//   gap: 15px;
// }
// .logoContainer {
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
//   height: fit-content;
//   position: absolute;
//   top: 0;
//   left: 0;
//   padding: 18px;
// }
/* The provided code snippet is defining styles for a credit card input form. Here's a breakdown of
what each part of the code is doing: */
// .svgLogo {
//   height: 40px;
//   width: auto;
// }
// .inputstyle::placeholder {
//   color: #ffffff;
// }
// .inputstyle {
//   background-color: transparent;
//   border: none;
//   outline: none;
//   color: white;
//   caret-color: red;
//   font-size: 13px;
//   height: 25px;
//   letter-spacing: 1.5px;
// }
// .number-container {
//   width: 100%;
//   height: fit-content;
//   display: flex;
//   flex-direction: column;
// }
// #cardNumber {
//   width: 100%;
//   height: 25px;
// }
// .name-date-cvv-container {
//   width: 100%;
//   height: 25px;
//   display: flex;
//   gap: 10px;
// }
// .name-wrapper {
//   width: 60%;
//   height: fit-content;
//   display: flex;
//   flex-direction: column;
// }
// .expiry-wrapper,
// .cvv-wrapper {
//   width: 30%;
//   height: fit-content;
//   display: flex;
//   flex-direction: column;
// }
// .cvv-wrapper {
//   width: 10%;
// }
// #expiry,
// #cvv {
//   width: 100%;
// }
// .input-label {
//   font-size: 8px;
//   letter-spacing: 1.5px;
//   color: #e2e2e2;
//   width: 100%;
// }